@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h1.text-center{
    font-family: 'Poppins', sans-serif;
}
.container11 {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2) !important; 
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  h1 {
    color: #343a40;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn {
    width: 100%;
  }
  