@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.font-link{
    font-family: 'Kaushan Script', cursive;
}
.container-h{
    height: 80vh;
  display: flex;    
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head{
    font-size: 7.5rem;
    text-align: center;
}